.about{
  padding: 50px 0 0 0;

  @media(min-width: $desktop) {
    padding: 100px 0 0 0;
  }

  .block-title{
    text-align: center;

    @media(min-width: $desktop) {
      text-align: left;
    }

    b{
      @media(min-width: $desktop) {
        margin-left: -10%;
        justify-content: left;
      }
    }

    p{
      font-size: 15px;
      font-weight: 500;
      line-height: 29px;
    }
  }

  &-item{
    position: relative;
    font-family: 'Caveat';
    text-align: center;

    @media(min-width: $desktop) {
      display: flex;
      align-items: center;
    }

    p{
      
      font-size: 29px;
      font-weight: 700;
      letter-spacing: 0.72px;
      line-height: 29px;
    }

    span{
      color: $red;
      font-size: 58px;
      font-weight: 700;
      letter-spacing: 1.45px;
      margin: 25px 25px 0;
      position: relative;

      &:after{
        content: '';
        width: 10px;
        height: 55px;
        background: url('../images/lines.png') no-repeat;
        background-size: cover;
        display: none;
        bottom: -90%;
        left: 10px;
      }


      @media(min-width: $desktop) {
        &:after{
          position: absolute;
          display: block;
        }
      }
    }

    &:nth-child(2){
      span{
        &:after{
          transform: scale(-1, 1);
          right: 0;
          left: inherit;
          height: 40px;
          bottom: -35px;
        }
      }
    }

    &:last-child{
      span{
        &:after{
          display: none;
        }
      }
    }
  }

  .flex_row {
    align-items: center;
    flex-direction: column;

    @media(min-width: $desktop) {
      flex-direction: row;
    }
  }
}
