.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;

  &_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 10px;

    @media(min-width: $desktop){
      padding: 20px 15px;
    }

    .logo{
      position: static;
      padding: 15px 0;
      
      @media(max-width: 480px){
        width: 40%;
      }

      @media(min-width: $desktop-full) {        
        position: absolute;
        left: -150px;
        top: 15px;
        bottom: 0;
        margin: auto;
      }
    }
  }

  .contact{
    display: flex;
    align-items: center;
    flex-direction: column;

    &-tell{
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      a{
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.42px;

        &.popup__call{
          color: $red;
          font-size: 13px;
          letter-spacing: 0.35px;
          text-decoration: underline;
          margin-top: 5px;
        }

        @media(min-width: $desktop){
          font-size: 16px;
        }
      }
    }

    .time-work{
      margin: 0 0 7px 0;
      font-weight: 500;
      letter-spacing: 0.35px;

      @media(min-width: $desktop) {
        display: none;
      }

      @media(min-width: $desktop-full) {
        margin-top: 0;
        display: block;
        margin: 8px 40px 0 0;
      }
    }


    @media(min-width: $desktop){
      flex-direction: row;

      .time-work{
        margin: 0 0 7px 0;
      }
    }
  }

  &-left-button{
    position: static;
    display: none;

    @media(min-width: $desktop-full) {
      position: absolute;
      z-index: 9;
      right: -200px;
      top: 0;
      bottom: 0;
      margin: auto;
      display: flex;
      align-items: center;
    }
  }

  
}

.nav{
  &-list{
    @extend .header_container;
  }

  &-item{
    position: relative;

    &:after{
      content: '';
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: $black;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      display: none;
    }

    &:last-child{
      &:after{
        display: none;
      }
    }


    @media(min-width: $desktop) {
      &:after{
        display: block;
      }
    }
  }

  &-link{
    padding: 10px;
    font-family: 'Caveat';
    font-weight: 700;
    color: #373a4f;
    cursor: pointer;
    position: relative;
    display: none;

    @media(max-width: 1110px) {
      font-size: 18px;
      text-transform: none;
    }

    @media(min-width: $desktop) {
      display: block;
      font-size: 18px;
      padding: 15px 20px;
      text-transform: uppercase;
    }

    &:after{
      content: '';
      opacity: 0;
      transition: opacity .3s ease;
    }

    &:hover{
      &:after{
        opacity: 1;
        transition: opacity .3s ease;
        width: 100%;
        height: 3px;
        background: url('../images/underline.png') no-repeat center;
        position: absolute;
        bottom: 5px;
        right: 0;
        left: 0; 
      }
    }


    
  }
}