.popup{
  display: inline-block;
  position: relative;
  padding: 20px;
  background: #fff;
  vertical-align: middle;
  max-width: 600px;
  border-radius: 20px;
  width: 90%;


  @media(min-width: $desktop){
    padding: 30px;
    width: 100%;
  }

  &Product{

    .popup{
      max-width: 480px;
      width: 90%;

      @media(min-width: $desktop){
        max-width: 860px;
        width: 100%;
        margin: -10px;
      }

      
      &-image{
        max-width: 300px;
        max-height: 300px;
        overflow: hidden;

        &-min{
          max-width: 90px;
          max-height: 90px;
          overflow: hidden;
          margin: 10px;
          float: left;
        }
      }

      &-desc{

        span{
          display: block;
          border-bottom: 1px solid rgba(110, 149, 168, .2);
          padding-bottom: 15px;
        }

        p{
          color: #4a4d60;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.35px;
          line-height: 24px;
        }

        &-text{
          max-height: 200px;
          overflow: auto;
          margin-bottom: 15px;
        }


        @media(min-width: $desktop){
          &-text{
            max-height: 100%;
          }
        }
      }

      a.balloons-button{
        right: 0;
        left: 0;
        margin: auto;

        @media(min-width: $desktop){
          right: inherit;
          left: inherit;
        }
      }

      &__close{
        right: -10px;
        top: -10px;
      }
    }

    .popupProduct-description{
      margin: -10px;
      display: flex;
      flex-wrap: wrap;

      .popup-gallery{
        flex-basis: 100%;
        padding: 10px;
        width: 100%;

        @media(min-width: $desktop){
          flex-basis: 40%;
          width: 100%;
          max-width: 320px;
        }
      }
    
      .popup-desc{
        flex-basis: 100%;
        padding: 10px;
        text-align: left;
        width: 100%;

        @media(min-width: $desktop){
          flex-basis: 60%;
        }

        b{
          font-size: 26px;
          font-weight: 700;
          letter-spacing: 0.65px;
          margin: 5px 0 15px 0;
          max-width: 350px;
          font-size: 21px;
          line-height: 25px;
          width: 100%;

          @media(min-width: $desktop){
            font-size: 26px;
            line-height: 30px;
          }
        }
      }

      .slider-nav {
        margin-top: 10px;

        .popup-image {
          margin: 0;
          max-width: 90px;
          max-height: 90px;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: flex-start;
        }

        img {
          object-fit: contain;
        }
      }
    }
  }

  .required-notice{
    display: none;
  }

  &__overlay,
  &__call--back,
  &Product {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    text-align: center;
    z-index: 9999999;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;

    &:after{
      display: inline-block;
      height: 100%;
      width: 0;
      vertical-align: middle;
      content: ''
    }
  }

  &_open,
  &_open_in,
  &-ajax{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

  &_open_in{
    z-index: 9999999999999999;
  }

  &__close {
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    background: $white;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    right: -15px;
    top: -15px;

    @media(min-width: $desktop){
      top: 30px;
      right: 30px;
    }

    &:after,
    &:before{
      content: '';
      height: 3px;
      width: 15px;
      display: block;
      border-radius: 3px;
      background-color: #db6062;
      transform: rotate(45deg);
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
    }

    &:before{
      transform: rotate(-45deg);
    }
  }

  &__body{
    span{
      opacity: 0.5;
      color: #4a4d60;
      font-size: 13px;
      font-weight: 500;
      display: block;
      
      line-height: 16px;
    }
  }

  b{
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
    letter-spacing: 0.65px;
    width: 100%;
    
    display: block;
    margin: 0 auto;

    @media(min-width: $desktop){
      max-width: 400px;
      font-size: 26px;
      line-height: 34px;

    }

  }

  input{
    border-radius: 28px;
    background-color: rgba(244, 226, 200, .2);
    padding: 15px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.16);
  }

  textarea{
    border: 1px solid #6e95a8;
    background-color: rgba(244, 226, 200, .2);
    border-radius: 20px;
    padding: 10px;
    resize: none;
    outline: none;
    height: 120px!important;

    @media(min-width: $desktop){
      height: 190px!important;
    }

  }
 
  #wpmtst-submission-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;

    .form-field{
      flex-basis: 100%;
      width: 100%;
      padding: 0 10px;

      &.field-post_title,
      &.wpmtst-submit{
        flex-basis: 100%;
      }

      @media(min-width: $desktop) {
        flex-basis: 50%;
      }
    }

    .wpmtst-submit{
      label{
        width: 100%;
      }
      input{
        color: $white;
        box-shadow: 0 2px 12px rgba(219, 96, 98, 0.36);
        border-radius: 28px;
        border: 1px solid $white;
        max-width: 225px;
        width: 100%;
        margin: 0 auto;
        background-image: linear-gradient(-1deg, #db6062 0%, #f2a7a1 100%);
        margin-bottom: 15px;
      }
    }
  }

  &__in{
    border: 8px solid #f4e2c8;
    max-width: 360px;
    width: 95%;
    padding: 10px;

    .popup__close{
      right: -25px;
      top: -25px;
      z-index: 999999999999;
      background: #fff;
    }

    .balloons-button{
      padding: 20px 15px;
    }

    .block-title{
      padding: 0;

      b{
        font-family: 'Caveat';
        font-size: 21px;
        line-height: 26px;
        font-weight: 700;
        width: 100%;
        display: flex;
        text-transform: none;

        @media(min-width: $desktop){
          line-height: 44px;
        }
      }

      p{
        font-size: 14px;
        margin: 20px 0;
      }
    }    

    br{
      display: none;
    }

    .wpcf7-form{
      input{
        width: 100%;
        margin: 10px 0;

        &[type="submit"]{
          position: absolute;
          right: 0;
          left: 0;
          margin: auto;
          bottom: -30px;
          display: block;
          margin: 0 auto;
          opacity: 1;
          transition: opacity .3s ease;
          text-transform: uppercase;
          font-size: 14px;

          &:hover{
            opacity: 1;
            transition: opacity .3s ease;
            background-image: linear-gradient(0deg, #db6062 0%, #f2a7a1 100%);
          }
        }
      }
    }

    &__balls{
      position: absolute;
      z-index: 9;
      display: none;

      &--one{
        top: -30%;
        left: -12%;
      }

      &--two{
        bottom: -20%;
        right: -12%;
      }
    }

    @media(min-width: $desktop) {
      max-width: 750px;
      border: 13px solid #f4e2c8;
      padding: 25px 25px 35px;

      .popup__close{
        right: 60px;
        top: 35px;
      }

      &__balls{
        display: block;
      }

      .wpcf7-form{
        input{
          width: 45%;
          margin: 25px 10px;
          
          &[type="submit"]{
            position: static;
            opacity: .9;
          }
        }
      }

      .block-title{
        b{
          font-size: 42px;
        }
      }
    }
  }

  a{
    opacity: 1;
    position: absolute;
  }
}



.slider-for.slick-initialized.slick-slider{
  display: none;

  @media(min-width: $desktop) {
    display: block;
  }
}

.slick-slider {
  .slick-list.draggable{
    padding: 0!important;
    margin: 0 -5px;
  }
}





#wpmtst-form .strong-form{
  &-inner{
    padding: 0;
  
    @media(min-width: $desktop) {
      padding: 0 20px;
    }
  }
}