.sale{
  b{
    max-width: 535px;
    width: 100%;
    color: #373a4f;
    font-family: 'Caveat';
    font-size: 59px;
    font-weight: 700;
    letter-spacing: 1.48px;
    line-height: 52px;
    display: block;
    margin: 0 auto;
  }

  a{
    margin: 25px auto;
  }
}