body{
  font: 14px/1 'Montserrat', sans-serif;
  font-weight: 500;
  color: #373a4f;
  background-image: url('../images/body.png');
}

a{
  text-decoration: none;
  color: $black;
  transition: color 0.2s ease;
  outline: none!important;

  &:hover{
    transition: color 0.2s ease;
  }  

  &:active,
  &:focus,
  &:visited{
    color: initial;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button{
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  
  &_flexfix {
    display: flex;
  }
}

.header,
.footer {
	flex-shrink: 1;
	width: 100%;
}

.main {
	flex-grow: 1;
  width: 100%;
  position: relative;
}

input {
  background: rgb(158, 156, 158);
  opacity: .8;
  border-radius: 5px;
  width: 175px;
  padding: 7.5px 8px;
  border: none;
  outline: none;

  &[type="submit"]{
    opacity: 1;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
  }
  
  &:visited,
  &:active,
  &:hover,
  &:focus {
    background: $white;
    opacity: 1;
  }
}

p{
  line-height: 23px;
}

.balloons-button{
  box-shadow: 0 2px 12px rgba(219, 96, 98, 0.36);
  border-radius: 28px;
  background-image: linear-gradient(0deg, #db6062 0%, #f2a7a1 100%);
  opacity: .8;
  transition: opacity .3s ease;
  color: $white!important;
  padding: 18px 35px;
  font-weight: 700;
  display: inline-block;
  max-width: 250px;
  cursor: pointer;
  width: 100%;
  text-align: center;

  &:hover{
    opacity: 1;
    transition: opacity .3s ease;
  }
}

.block-title{
  text-align: center;
  padding: 0px 0 50px 0;

  b{
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1.3px;
    line-height: 35px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &:after,
    &:before{
      content: '';
      width: 23px;
      height: 23px;
      background: url('../images/star.png') no-repeat center center;
      display: none;
      margin: 0 20px;
    }

    @media(min-width: $desktop) {
      font-size: 52px;
      line-height: 79px;

      &:after,
      &:before{
        display: block;
      }
    }
  }

  span{
    opacity: 0.9;
    color: #db6062;
    font-family: 'Caveat';
    font-size: 32px;
    font-weight: 700;
    display: block;
    margin: 15px 0;
  }

  p{
    margin: 15px auto;
    max-width: 850px;
    font-size: 17px;
  }
}

.text-center{
  text-align: center;
}

.slick-slide{
  outline: none;
}